*~
*.bin
*.d
*.dll
*.elf
*.hex
*.dfu
*.exe
*.lst
*.o
*.obj
*.px4
*.vrx
*.pyc
*.tlog
*.tlog.raw
*.vbrain
*.zip
.*.swo
.*.swp
.built
.context
.cproject
.depend
.directory
.DS_Store
.metadata/
.project
.settings/
.vagrant
/tmp/*
/ardupilot/Tools/ArdupilotMegaPlanner/3DRRadio/bin
/ardupilot/Tools/ArdupilotMegaPlanner/3DRRadio/obj
/ardupilot/Tools/ArdupilotMegaPlanner/APMPlannerXplanes/APMPlannerXplanes/Debug
/ardupilot/Tools/ArdupilotMegaPlanner/bin
/ardupilot/Tools/ArdupilotMegaPlanner/bin/APM Planner.app
/ardupilot/Tools/ArdupilotMegaPlanner/bin/Debug
/ardupilot/Tools/ArdupilotMegaPlanner/bin/Release/gmapcache
/ardupilot/Tools/ArdupilotMegaPlanner/bin/Release/logs/
/ardupilot/Tools/ArdupilotMegaPlanner/CustomImages
/ardupilot/Tools/ArdupilotMegaPlanner/Msi/upload.bat
/ardupilot/Tools/ArdupilotMegaPlanner/obj
/ardupilot/Tools/ArdupilotMegaPlanner/resedit/bin
/ardupilot/Tools/ArdupilotMegaPlanner/resedit/obj
/ardupilot/Tools/ArdupilotMegaPlanner/Updater/bin
/ardupilot/Tools/ArdupilotMegaPlanner/Updater/obj
/ardupilot/Tools/ArdupilotMegaPlanner/wix/bin
/ardupilot/Tools/ArdupilotMegaPlanner/wix/obj
/ardupilot/Tools/autotest/ch7_mission.txt
/ardupilot/Tools/autotest/aircraft/Rascal/reset.xml
/ardupilot/Tools/autotest/jsbsim/fgout.xml
/ardupilot/Tools/autotest/jsbsim/rascal_test.xml
/ardupilot/ArduCopter/Debug/
/ardupilot/ArduCopter/terrain/*.DAT
/ardupilot/ArduCopter/test.ArduCopter/
/ardupilot/ArduCopter/test/*
/ardupilot/ArduPlane/terrain/*.DAT
/ardupilot/ArduPlane/test.ArduPlane/
/ardupilot/APMrover2/test.APMrover2/
/ardupilot/build
Build.ArduCopter/*
Build.ArduPlane/*
Build.APMrover2/*
cmake_install.cmake
CMakeCache.txt
CMakeFiles
config.mk
dataflash.bin
eeprom.bin
LASTLOG.TXT
Make.dep
mav.log
mav.log.raw
module.mk
serialsent.raw
status.txt
tags
test.ArduCopter/*
Thumbs.db
